body {
    font-family: 'Roboto', arial;
    margin: 0px;
}

.header,
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
}

.headerLinks {
    font-size: 18px;
}

.headerLinks ul {
    display: flex;
}

.headerLinks a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 15px;
}

.headerLinks li {
    list-style: none;
}

.leftHero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

.leftHero {
    margin-bottom: auto;
    max-width: 35%;
}

.leftHero h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.heroImg {
    width: 500px;
    height: 250px;
}

.heroBtn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20% 100px 20%;
}

.infoHeader{
    color: #1F2937;
    font-size: 35px;
}

.imagesContainer{
    display: flex;
    justify-content: space-around;
}

.buildingsImg{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infoImg {
    width: 170px;
    height: auto;
    border-radius: 10px;
}

.info p {
    color: #1F2937;
    font-size: 18px;
}

.quotation{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20% 100px 20%;
}

.attribute{
 display: flex;
 justify-content: flex-end;
 font-size: 22px;
 font-weight: bold;
}

.attribute p{
    margin: 0;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
}

.quoteContainer{
    max-width: 75%;
}

.quote p{
    margin: 0;
}

.ctaSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 20% 90px 20%;

}

.ctaContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    width: 100%;
    border-radius: 8px;
    padding: 30px 0px 30px 0px;
}

.ctaLeft h3{
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ctaLeft p{
    color: #f9faf8;
    font-size: 18px;
    margin-top: 0;
}

.ctaRight button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid;
    border-color: #f9faf8;
    border-radius: 6px;
    padding: 9px 40px 9px 40px;
}

.footer{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    font-size: 18px;
}