body {
    font-family: 'Roboto', arial;
    margin: 0px;
}

.header,
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
}

.headerLinks {
    font-size: 18px;
}

.headerLinks ul {
    display: flex;
}

.headerLinks a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 15px;
}

.headerLinks li {
    list-style: none;
}

.leftHero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

.leftHero{
    margin-bottom: auto;
    max-width: 35%;
}

.leftHero h1{
    margin-top: 0;
    margin-bottom: 5px;
}

.heroImg {
    width: 500px;
    height: 250px;
}

.heroBtn{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}